{% extends 'base.html.twig' %}

{% block title %}Avenant{% endblock %}

{% block body %}
    <h1>Avenant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avenant.id }}</td>
            </tr>
            <tr>
                <th>MtHTVA</th>
                <td>{{ avenant.MtHTVA }}</td>
            </tr>
            <tr>
                <th>MtTVA</th>
                <td>{{ avenant.MtTVA }}</td>
            </tr>
            <tr>
                <th>MtTTC</th>
                <td>{{ avenant.MtTTC }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('avenant_index') }}">back to list</a>

    <a href="{{ path('avenant_edit', {'id': avenant.id}) }}">edit</a>

    {{ include('avenant/_delete_form.html.twig') }}
{% endblock %}
